@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html
	font-size: 16px
body
	background: url(../img/main.jpg) no-repeat
	background-size: cover
	background-attachment: fixed
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

b, strong
	font-weight: bold


// ------------ Main Aside ------------ //

aside
	width: 100px
	height: 100vh
	position: absolute
	z-index: 2
	left: 0
	top: 0
	background: inherit
	overflow: hidden
	-webkit-transition: width .5s ease-out 
	-moz-transition: width .5s ease-out
	-ms-transition: width .5s ease-out
	-o-transition: width .5s ease-out
	transition: width .5s ease-out
	&::before
		content: ''
		position: absolute
		background: inherit
		z-index: 0
		width: 100%
		height: 100%
		top: 0
		left: 0
		-webkit-transition: filter .5s ease-out 
		-moz-transition: filter .5s ease-out
		-ms-transition: filter .5s ease-out
		-o-transition: filter .5s ease-out
		transition: filter .5s ease-out
		-webkit-filter: blur(0px)
		-moz-filter: blur(0px)
		-ms-filter: blur(0px)
		-o-filter: blur(0px)
		filter: blur(0px)
	&.blur::before
		content: ''
		position: absolute
		background: inherit
		z-index: 0
		width: 120%
		height: 100%
		top: 0
		left: 0
		-webkit-transition: filter .5s ease-out 
		-moz-transition: filter .5s ease-out
		-ms-transition: filter .5s ease-out
		-o-transition: filter .5s ease-out
		transition: filter .5s ease-out
		-webkit-filter: blur(10px)
		-moz-filter: blur(10px)
		-ms-filter: blur(10px)
		-o-filter: blur(10px)
		filter: blur(10px)
	.flex-container
		height: 100%
		position: relative
		z-index: 2
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-webkit-flex-direction: column
		-ms-flex-direction: column
		flex-direction: column
		-webkit-flex-wrap: nowrap
		-ms-flex-wrap: nowrap
		flex-wrap: nowrap
		-webkit-justify-content: center
		-ms-flex-pack: center
		justify-content: center
		-webkit-align-content: center
		-ms-flex-line-pack: center
		align-content: center
		-webkit-align-items: flex-start
		-ms-flex-align: start
		align-items: flex-start
		.flex-item
			-webkit-order: 0
			-ms-flex-order: 0
			order: 0
			-webkit-flex: 0 1 auto
			-ms-flex: 0 1 auto
			flex: 0 1 auto
			-webkit-align-self: auto
			-ms-flex-item-align: auto
			align-self: auto
			height: 33%
	// Main Menu //
	.menu-wrap
		.menu-btn
			background: transparent
			display: block
			outline: none
			border: none
			-webkit-transition: all .25s ease-out
			-moz-transition: all .25s ease-out
			-ms-transition: all .25s ease-out
			-o-transition: all .25s ease-out
			transition: all .25s ease-out
			span
				display: inline-block
				width: 7px
				height: 7px
				border-radius: 100%
				background: #fff
			&:hover
				span
					&:nth-child(2)
						transform: scale(2)
		.is-active
			-webkit-transform: rotate(90deg)
			-moz-transform: rotate(90deg)
			-ms-transform: rotate(90deg)
			-o-transform: rotate(90deg)
			transform: rotate(90deg)
			-webkit-transition: all .25s ease-out 
			-moz-transition: all .25s ease-out
			-ms-transition: all .25s ease-out
			-o-transition: all .25s ease-out
			transition: all .25s ease-out
		.menu
			display: block
			background: transparent
			overflow: hidden
			position: absolute
			z-index: 2
			width: 100%
			&__list
				background: inherit
				padding-left: 0
				display: block
				-webkit-transform: translateX(-100%)
				-moz-transform: translateX(-100%)
				-ms-transform: translateX(-100%)
				-o-transform: translateX(-100%)
				transform: translateX(-100%)
				-webkit-transition: all .25s ease-out 
				-moz-transition: all .25s ease-out
				-ms-transition: all .25s ease-out
				-o-transition: all .25s ease-out
				transition: all .25s ease-out
			&__list--play
				background: inherit
				-webkit-transform: translateX(0)
				-moz-transform: translateX(0)
				-ms-transform: translateX(0)
				-o-transform: translateX(0)
				transform: translateX(0)

.first-section
	width: 100vw
	height: 100vh


@import "media" // Always at the end
